body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: rgb(4, 4, 54);
  color: white;
}

.introduction-text{
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.title-main-section{
  font-weight: 700;
  font-size: 150px;
  line-height: 182px;
}

.second-title-main-section{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.anchors-header{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

h2{
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.fan-facts-list-number-data{
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.fan-facts-list-pragraph-data{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.list-flex{
  display: flex;
  list-style: none;
}

.solution-approach-section{
  display: flex;
  align-content:flex-start;
}

.img-solution-approach-section{
  width: 450px;
  margin-left: 100px;
  margin-top: 80px;

}

.div-img-solutions-approach{
  background-color: #FFC93E;
}

.lis-solution-approach-section{
  width: 1700px;
  text-align:left;
  list-style: none;
  background-color: grey;
}

.second-titles-solution-approach{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.sub-titles-service-can-help-you{
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.content-services-writing-branding{
  display: flex;
  align-content: space-between;
}

.content-services-ux-web{
  display: flex;
  align-content:space-between;
}

.box-services{
  text-align: justify;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: grey;
}

.text-inside-buttom{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.titles-latest-projects{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.title-blog{
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.title-form{
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.title-address{
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.buttoms-styles{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
  background: #FFC93E;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.div-form{
  background-color: #FFC93E;
}

footer{
  background-color: grey;
}

.content-blockquote{
  display: flex;
  align-content: space-between;
}

blockquote{
  background-color: grey;
  padding-left: 15px;
  border-radius: 30px;
}

.box-services-border-1{
  border-bottom-left-radius: 20px;
}